<!DOCTYPE html>
<html>
<head>

  <%= favicon_link_tag 'authentication.jpg' %>


  <title>Auth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %><th>
</div>

<!--The athentication logo-->
<%= image_tag("authentication.jpg", :alt => "authentication.jpg", :type => :upload, 
              :width => 30, :height => 30, :crop => :fill, :gravity => :east) %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>



<%= yield %><br>

<p>
  <%= link_to "Articles", articles_path %>
  <%= link_to "Users", users_path %>
  <%= link_to "Roles", roles_path %>
</p>

</body>
</html>
